@import 'color-system.scss';

// Border colors
$border-blue: $blue !important;
$border-blue-dark: $blue-dark !important;
$border-green: $green !important;
$border-red: $red !important;
$border-yellow: $yellow !important;
$border-black: $black !important;
$border-gray-dark: $gray-dark !important;
$border-gray: $gray !important;
$border-gray-light: $gray-light !important;
$border-white: $white !important;

// Background colors
$bg-blue: $blue !important;
$bg-blue-dark: $blue-dark !important;
$bg-green: $green !important;
$bg-red: $red !important;
$bg-yellow: $yellow !important;
$bg-black: $black !important;
$bg-gray-dark: $gray-dark !important;
$bg-gray: $gray !important;
$bg-gray-light: $gray-light !important;
$bg-white: $white !important;

// Text colors
$text-blue: $blue !important;
$text-blue-dark: $blue-dark !important;
$text-green: $green !important;
$text-red: $red !important;
$text-yellow: $yellow !important;
$text-black: $black !important;
$text-gray-dark: $gray-dark !important;
$text-gray: $gray !important;
$text-gray-light: $gray-light !important;
$text-white: $white !important;
