// Miscellaneous variables

// Border size
$border-width: 1px !default;
$border-color: $border-gray !default;
$border-style: solid !default;
$border: $border-width $border-color $border-style !default;
$border-radius: 3px !default;

// Box shadow
$box-shadow: 0 1px 1px rgba($black, 0.1) !default;
